//Fonts
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//Def color

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
:root {
    --bg-color: #121B25;
    --accent-color:#1AA090;
    --text-color:#d6d6d6;
}
* img{
    max-width: 100%;
}

[class*="__container"]{
    max-width: 1450px;
    margin: 0 auto;
}

@mixin font {
    font-family: 'Work Sans', sans-serif;
}

body {
    @include font();
    background-color: var(--bg-color);
    position: relative;
    &._lock{
        overflow: hidden;
    }
}




.header {
    padding: unquote("clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;");
    

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__logo {
        max-width: 200px;
        @media (max-width: 992px){
            padding: 0 10px;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: unquote("clamp(1.25rem, -2.799rem + 8.436vw, 4.688rem);")
    }

    &__menu {
    }

    &__buttons {
        display: flex;
        gap: 5px;
    }

	&__btn {
		padding: 11px 20px;
		color: #fff;
		border: 2px solid var(--accent-color);
		background-color: transparent;
		transition: background-color 0.2s;
		cursor: pointer;
		@media (max-width: 576px) {
			padding: 7px 15px;
		}
	}
}
.menu{
  
    @media (max-width: 992px) {
        
        position: absolute;
        display: flex;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        overflow: auto;
        background-color: var(--accent-color);
        transition: left .2s;
        &._active{
            left: 0;
        }
    }
    &-icon {
        display: none;
        @media (max-width: 992px) {
            display: block;
            height: 18px;
            width: 30px;
            position: relative;
            cursor: pointer;
            z-index: 5;
            span {
                transition: all 0.3s ease 0s;
                top: calc(50% - 1px);
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 40px;
        margin: auto;
        @media (max-width: 992px) {
            flex-direction: column;
        }

    }

    &__item {
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        text-transform: capitalize;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: var(--text-color);
        transition: color .2s;
        position: relative;

        &::before{
            content:'';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            background-color: var(--accent-color);
            height: 3px;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s;

        }
        @media (any-hover:hover){
            &:hover{
                color: #fff;
                &::before{
                    opacity: 1;
                    visibility: visible;
                }

            }
        }
        @media (max-width: 992px) {
            line-height: 50px;
            font-size: 30px;
        }

    }
    
}

.login {
    @media (any-hover: hover) {
        &:hover{
            background-color: var(--accent-color);
        }
    }
}
.register {
    background-color: var(--accent-color);
    @media (any-hover: hover) {
        &:hover{
            background-color: transparent;
        }
    }
}
